[submodule "compression"]
	path = node_modules/compression
	url = https://github.com/expressjs/compression.git
[submodule "express"]
	path = node_modules/express
	url = https://github.com/strongloop/express.git
[submodule "jade"]
	path = node_modules/jade
	url = https://github.com/jadejs/jade.git
[submodule "komponist"]
	path = node_modules/komponist
	url = https://github.com/hughsk/komponist.git
[submodule "method-override"]
	path = node_modules/method-override
	url = https://github.com/expressjs/method-override.git
[submodule "mpd"]
	path = node_modules/mpd
	url = https://github.com/andrewrk/mpd.js.git
[submodule "mpdsocket"]
	path = node_modules/node-mpdsocket
	url = https://github.com/ewenig/node-mpdsocket.git
[submodule "socket.io"]
	path = node_modules/socket.io
	url = https://github.com/socketio/socket.io.git
